@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SongsAbout</h1>
    <p class="lead">About dang time we can look up songs like this, people.</p>
    <p><a class="btn btn-primary btn-lg">Begin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Albums</h2>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tracks</h2>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>