@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SongsAbout</h1>
    <p class="lead">About dang time we can look up songs like this, people.</p>
    <p><a class="btn btn-primary btn-lg">Begin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Artists">Artists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Albums">Albums &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="Tracks">Tracks &raquo;</a></p>
    </div>
</div>