@model IEnumerable<SongsAbout.Web.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table">

    @foreach (var artist in Model)
    {
        <div class="row">
            @Html.Partial("ArtistRowPartial", artist, this.ViewData)
        </div>
    }

</div>
