@using SongsAbout.Web.Models;
@model SearchResult


@using SongsAbout.Web.Models
@{
    ViewBag.Title = "Search";
}


@if (Model?.Items?.Count > 0)
{
    <h2>Search Results</h2>
    if (Model.Artists != null)
    {
        <h3 data-toggle="collapse" data-target="#artists">Artist</h3>
        <div class="row collapse in" id="artists">
            @foreach (Artist item in Model.Artists)
            {
                @Html.DisplaySearchResult(item)
            }
        </div>
    }
    if (Model.Albums != null)
    {
        <h3 data-toggle="collapse" data-target="#albums">Albums</h3>
        <div class="row collapse in" id="albums">
            @foreach (Album item in Model.Albums)
            {
                @Html.DisplaySearchResult(item)
            }
        </div>
    }
    if (Model.Tracks != null)
    {
        <h3 data-toggle="collapse" data-target="#tracks">Tracks</h3>
        <div class="row collapse in" id="tracks">
            @foreach (Track item in Model.Tracks)
            {
                @Html.DisplayTrackRow(item)
            }
        </div>
    }
}
else
{
    <h2>Uh oh!</h2>
    <p>No results found</p>
}