
@{
    ViewBag.Title = "Spotify Search";
}

<h2>Search Spotify</h2>


@Html.BeginForm("Search", "Search");


<table class="table table-striped" id="search-results">
    <tr></tr>
    <tr></tr>
</table>