@using SpotifyAPI.Web.Models;
@using SongsAbout.Web.Models;
@model SpotifyAPI.Web.Models.SpotifyFullTrack

@switch ((SongsAbout.Web.Models.EntityDisplayType)ViewBag.EntityDisplayType)
{
    case SongsAbout.Web.Models.EntityDisplayType.Spotlight:
        break;
    case SongsAbout.Web.Models.EntityDisplayType.SearchResult:
        <tr class="track row">
            <td class="col-md-2">
                @Model.Name
            </td>
            <td class="col-md-2">
                @(Model.Artists[0]?.Name)
            </td>
            <td class="col-md-2">
                @(Model.Album?.Name)
            </td>
            <td class="col-md-2">
                @if (!Model.IsSavedLocally<Track>())
                {
                    @Html.Button("Save", "Tracks", "Details", new { id = 1 }, new { @class = "button btn btn-lg" })
                }
            </td>
        </tr>
        break;
    case SongsAbout.Web.Models.EntityDisplayType.List:
        break;
    case SongsAbout.Web.Models.EntityDisplayType.Related:
        break;
    default:
        break;
}